In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('credit_card_fraud_10k.csv')
dataset

,transaction_id,amount,transaction_hour,merchant_category,foreign_transaction,location_mismatch,device_trust_score,velocity_last_24h,cardholder_age,is_fraud
0,1,84.47,22,Electronics,0,0,66,3,40,0
1,2,541.82,3,Travel,1,0,87,1,64,0
2,3,237.01,17,Grocery,0,0,49,1,61,0
3,4,164.33,4,Grocery,0,1,72,3,34,0
4,5,30.53,15,Food,0,0,79,0,44,0
...,...,...,...,...,...,...,...,...,...,...
9995,9996,350.91,22,Food,0,0,99,4,37,0
9996,9997,410.04,5,Clothing,0,0,70,3,25,0
9997,9998,527.75,21,Electronics,0,0,44,2,45,0
9998,9999,91.20,2,Electronics,0,0,38,0,37,0
9999,10000,44.06,2,Clothing,0,0,38,0,66,0

In [3]:
# Remove unwanted feature
df=dataset.drop(columns=['transaction_id'])
df

,amount,transaction_hour,merchant_category,foreign_transaction,location_mismatch,device_trust_score,velocity_last_24h,cardholder_age,is_fraud
0,84.47,22,Electronics,0,0,66,3,40,0
1,541.82,3,Travel,1,0,87,1,64,0
2,237.01,17,Grocery,0,0,49,1,61,0
3,164.33,4,Grocery,0,1,72,3,34,0
4,30.53,15,Food,0,0,79,0,44,0
...,...,...,...,...,...,...,...,...,...
9995,350.91,22,Food,0,0,99,4,37,0
9996,410.04,5,Clothing,0,0,70,3,25,0
9997,527.75,21,Electronics,0,0,44,2,45,0
9998,91.20,2,Electronics,0,0,38,0,37,0
9999,44.06,2,Clothing,0,0,38,0,66,0

In [4]:
# Checking for null or missing value
df.isnull().sum()

amount                 0
transaction_hour       0
merchant_category      0
foreign_transaction    0
location_mismatch      0
device_trust_score     0
velocity_last_24h      0
cardholder_age         0
is_fraud               0
dtype: int64

In [5]:
# Converting categorical data into numeric
df = pd.get_dummies(df, dtype= int, drop_first=True)
df

,amount,transaction_hour,foreign_transaction,location_mismatch,device_trust_score,velocity_last_24h,cardholder_age,is_fraud,merchant_category_Electronics,merchant_category_Food,merchant_category_Grocery,merchant_category_Travel
0,84.47,22,0,0,66,3,40,0,1,0,0,0
1,541.82,3,1,0,87,1,64,0,0,0,0,1
2,237.01,17,0,0,49,1,61,0,0,0,1,0
3,164.33,4,0,1,72,3,34,0,0,0,1,0
4,30.53,15,0,0,79,0,44,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,350.91,22,0,0,99,4,37,0,0,1,0,0
9996,410.04,5,0,0,70,3,25,0,0,0,0,0
9997,527.75,21,0,0,44,2,45,0,1,0,0,0
9998,91.20,2,0,0,38,0,37,0,1,0,0,0
9999,44.06,2,0,0,38,0,66,0,0,0,0,0

In [6]:
#checking dtypes
df.dtypes

amount                           float64
transaction_hour                   int64
foreign_transaction                int64
location_mismatch                  int64
device_trust_score                 int64
velocity_last_24h                  int64
cardholder_age                     int64
is_fraud                           int64
merchant_category_Electronics      int64
merchant_category_Food             int64
merchant_category_Grocery          int64
merchant_category_Travel           int64
dtype: object

In [7]:
# Checking column names
df.columns

Index(['amount', 'transaction_hour', 'foreign_transaction',
       'location_mismatch', 'device_trust_score', 'velocity_last_24h',
       'cardholder_age', 'is_fraud', 'merchant_category_Electronics',
       'merchant_category_Food', 'merchant_category_Grocery',
       'merchant_category_Travel'],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   amount                         10000 non-null  float64
 1   transaction_hour               10000 non-null  int64
 2   foreign_transaction            10000 non-null  int64
 3   location_mismatch              10000 non-null  int64
 4   device_trust_score             10000 non-null  int64
 5   velocity_last_24h              10000 non-null  int64
 6   cardholder_age                 10000 non-null  int64
 7   is_fraud                       10000 non-null  int64
 8   merchant_category_Electronics  10000 non-null  int64
 9   merchant_category_Food         10000 non-null  int64
 10  merchant_category_Grocery      10000 non-null  int64
 11  merchant_category_Travel       10000 non-null  int64
dtypes: float64(1), int64(11)
memory usage: 937.6 KB

In [9]:
# Saving Cleaned Dataset.
df.to_csv("credit_card_dataset_DP.csv",index=False)